{% extends "Tmenu.html" %}
{% block content %}
    <div class="tarif">
       <h1>{{tarifs.titre1}}</h1>
    </div> 

    <div class="autour" style="margin-top:15%">
        <div style="text-align: center"><h1>{{tarifs.titre2}}</h1></div>
        <div class="carte_row">
            <div>
                <img src="static/images/tarifs/{{tarifs.img1}}" height="230" width="320" alt=""/>
                <p>{{tarifs.texte1}}</p>
            </div>
            <div>
                <img src="static/images/tarifs/{{tarifs.img2}}" height="230" width="320" alt=""/>
                <p>{{tarifs.texte2}}</p>
            </div>
            <div>
                <img src="static/images/tarifs/{{tarifs.img3}}" height="230" width="320" alt=""/>
                <p>{{tarifs.texte3}}</p>
            </div>                    
        </div>


        <div class ="tarifs">
            {% for m in my_liste  %}
            <div class="onglerie">
                
                <h2>{{m[0]}}</h2>
                {% for elem in m[1] %}
                
                <div class="tab">
                    <input id="{{elem[0]}}" type="checkbox" name="tabs">
                    <label for="{{elem[0]}}">{{elem[0]}}</label>
                    
                    <div class="tab-content"> 
                    {% for line in elem[1] %}
                      <p>{{line}}</p> 
                    {% endfor %}
                    </div>
                    
                </div>
                
                {% endfor %}
                
            </div>
            {% endfor %}

                
        <div style="text-align: center; margin-top: 12%;"><a class="bouton" href="#" style="padding: 2%;"><span>{{tarifs.bouton1}}</span></a></div>
    </div>        
                
        </div>
       
       
        <div class="contact">
                <h2>{{tarifs.texte4}}</h2>
                <p><b>{{tarifs.texte5}}</b></p>
                <p><span style="font-weight: 400;">{{tarifs.texte6}}</span></p>
                <p><span style="font-weight: 400;">{{tarifs.texte7}}</span></p>
                <p><a style="color: #e55718;" href="mailto:sidonie@maquillagepermanentnice.fr">{{tarifs.texte8}}</a></p>
                <p><a style="color: #e55718; margin-top: 7%" href="tel:0489036693">{{tarifs.texte9}}</a></p>
                <a class="bouton" href="#"><span>{{tarifs.bouton2}} </span></a>
            </div>
{% endblock %}